<%= component_controller do %>

  <div class="row">
    <div class="col">
      <label>
        Select your starting point
      </label>
      <%= reflex_tag(
        'change->select_starting_city',
        :select,
        options_from_collection_for_select(cities, :id, :name, @starting_city.id),
        class: 'form-select',
      ) %>
    </div>


    <div class="col">
      <label>
        Select your ending point
      </label>
        <%= reflex_tag(
        'change->select_ending_city',
        :select,
        options_from_collection_for_select(cities, :id, :name, @ending_city.id),
        class: 'form-select',
      ) %>
    </div>
  </div>

  <br>

  <div id="itinerary">
    <h3>
      <%= @distance %>km <br>
    </h3>
    <p>
      <%= @cities.pluck(:name).join(' → ') %>
    </p>
  </div>

<% end %>
