<%= component_controller do %>

  <div class="row">
    <div class="col">
      <p>
        Select your starting point
      </p>
      <%= reflex_tag(
        'change->select_starting_city',
        :select,
        options_from_collection_for_select(@starting_city_options, :id, :name, @starting_city.id),
        class: 'form-select',
      ) %>
    </div>


    <div class="col">
      <p>
        Select your ending point
      </p>
        <%= reflex_tag(
        'change->select_ending_city',
        :select,
        options_from_collection_for_select(@ending_city_options, :id, :name, @ending_city.id),
        class: 'form-select',
      ) %>
    </div>
  </div>

  <br>
  <br>

  <p id="itinerary">
    <%= @distance %>km <br>
    <%= @cities.pluck(:name).join(' → ') %>
  </p>

<% end %>
